@model risk.control.system.Models.CaseLocation

@{
    ViewData["Title"] = @Applicationsettings.EDIT;
    var caseId = Model.ClaimsInvestigation.ClaimsInvestigationId;
    Layout = "/Views/Shared/AdminLTE/_FormLayout.cshtml";
}

<section class="content pt-2">
    <div class="container-fluid ">
        <div class="row">
            <div class="col-md-12">
                <div id="article" class="card card-secondary">
                    <div class="card-header">
                        <h3 class="card-title"><i class="fas fa-pen-alt"></i> Update New</h3>
                    </div>
                    <div class="card-body">
                        <form id="create-form" asp-action="Edit"  enctype="multipart/form-data">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <article>
                                <div class="bb-blog-inner">
                                    <header class="bb-blog-header">
                                        <h5 class="bb-blog-title" itemprop="name"> <i class="fas fa-user-tie"></i> Edit Beneficiary </h5>
                                    </header>
                                    <div class="card card-solid">
                                        <div class="progress">
                                            <i class="far fa-caret-square-right" style="font-size:1.1rem;"></i>
                                            <div class="progress-bar" role="progressbar" style="width:33%;background-color:lightgrey;">
                                                policy
                                            </div>
                                            <i class="far fa-caret-square-right" style="font-size:1.1rem;"></i>
                                            <div class="progress-bar" role="progressbar" style="width:33%;background-color:lightgrey;">
                                                customer
                                            </div>
                                            <i class="far fa-caret-square-right" style="font-size:1.1rem;"></i>

                                            <div class="progress-bar" role="progressbar" style="width:34%;background-color:#ffc107;color:black;">
                                                edit beneficiary
                                            </div>
                                        </div>
                                        <div class="card-body pb-0">
                                            <div class="col-12 d-flex align-items-stretch flex-column">
                                                <div class="card bg-light d-flex flex-fill">
                                                    <div class="card-header text-muted border-bottom-0">
                                                        <i class="fas fa-user-tie"></i> Beneficiary Details <i class="fas fa-user-tie"></i>
                                                    </div>
                                                    <div class="card-body pt-0">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                                                <input type="hidden" asp-for="CaseLocationId" />
                                                                <input type="hidden" asp-for="ClaimsInvestigationId" />


                                                                

                                                                <div class="form-group">
                                                                    <span class="input-group-label"> Beneficiary Name:</span>
                                                                    <div class="input-group mb-3">
                                                                        <div class="input-group-prepend">
                                                                            <span class="input-group-text" asp-for="BeneficiaryName"><i class="fas fa-user-tie"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                                                                        </div>
                                                                        <input id="BeneficiaryName" required asp-for="BeneficiaryName" class="form-control" type="text" placeholder="Beneficiary Name" maxlength="20" />
                                                                        <span asp-validation-for="BeneficiaryName" class="text-danger"></span>
                                                                    </div>
                                                                </div>

                                                                <div class="form-group">
                                                                    <span class="input-group-label"> Date Of Birth:</span>
                                                                    <div class="input-group mb-3">
                                                                        <div class="input-group-prepend">
                                                                            <span class="input-group-text" asp-for="BeneficiaryDateOfBirth"><i class="far fa-calendar-alt"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                                                                        </div>
                                                                        <input required asp-for="BeneficiaryDateOfBirth" id="BeneficiaryDateOfBirthId" class="form-control" type="date" />
                                                                        <span asp-validation-for="BeneficiaryDateOfBirth" class="text-danger"></span>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <span class="input-group-label"> Relation:</span>
                                                                    <div class="input-group mb-3">
                                                                        <div class="input-group-prepend">
                                                                            <span class="input-group-text" asp-for="BeneficiaryName"><i class="fas fa-user-tie"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                                                                        </div>
                                                                        <select required asp-for="BeneficiaryRelationId" class="form-control" asp-items="ViewBag.BeneficiaryRelationId">
                                                                            <option value="">--- SELECT ---</option>
                                                                        </select>
                                                                        <span asp-validation-for="BeneficiaryRelationId" class="text-danger"></span>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <span class="input-group-label"> Phone #:</span>
                                                                    <div class="input-group mb-3">
                                                                        <div class="input-group-prepend">
                                                                            <span class="input-group-text" id="PhoneNumber"><i class="fas fa-phone"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                                                                        </div>
                                                                        <input type="text" asp-for="BeneficiaryContactNumber" class="form-control" required maxlength="14"
                                                                               placeholder="Phone # with country code" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" />
                                                                        <span asp-validation-for="BeneficiaryContactNumber" class="text-danger"></span>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <span class="input-group-label"> Income:</span>
                                                                    <div class="input-group mb-3">
                                                                        <div class="input-group-prepend">
                                                                            <span class="input-group-text" asp-for="BeneficiaryIncome"><i class="far fa-money-bill-alt"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                                                                        </div>
                                                                        <select required asp-for="BeneficiaryIncome" class="form-control" asp-items="Html.GetEnumSelectList<Income>()">
                                                                            <option value="">--- SELECT ---</option>
                                                                        </select>
                                                                        <span asp-validation-for="BeneficiaryIncome" class="text-danger"></span>
                                                                    </div>
                                                                </div>

                                                                <div class="form-group">
                                                                    <span class="input-group-label"> Beneficiary Photo:</span>
                                                                    <div class="input-group mb-3">
                                                                        
                                                                        @if (Model?.ProfilePicture is not null)
                                                                        {
                                                                            <img id="profileImage" class="form-Image" src="data:image/*;base64,@(Convert.ToBase64String(Model?.ProfilePicture))">
                                                                        }
                                                                        else
                                                                        {
                                                                            <img class="form-Image" id="profileImage" src="/img/user.png">
                                                                        }
                                                                         @if (Model.ClaimsInvestigation.PolicyDetail.ClaimType == ClaimType.HEALTH)
                                                                        {
                                                                            <input asp-for="ProfileImage" type="file" class="form-control" onchange="document.getElementById('profileImage').src = window.URL.createObjectURL(this.files[0])" />
                                                                        }
                                                                        else
                                                                        {
                                                                            <i class="fa fa-asterisk asterik-style"></i>
                                                                            @if (Model?.ProfilePicture is not null)
                                                                            {
                                                                                <input asp-for="ProfileImage" type="file" class="form-control" onchange="document.getElementById('profileImage').src = window.URL.createObjectURL(this.files[0])" />
                                                                            }
                                                                            else
                                                                            {
                                                                                <input asp-for="ProfileImage" type="file" class="form-control" onchange="document.getElementById('profileImage').src = window.URL.createObjectURL(this.files[0])" required />
                                                                            }
                                                                        }
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <span class="input-group-label"> Country:</span>
                                                                    <div class="input-group mb-3">
                                                                        <div class="input-group-prepend">
                                                                            <span class="input-group-text" for="CountryId"><i class="fas fa-map-marked-alt"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                                                                        </div>
                                                                        <select asp-for="CountryId" class="form-control" id="CountryId" asp-items="ViewBag.CountryId" onchange="loadState(this)" required>
                                                                            <option value="">--- SELECT ---</option>
                                                                        </select>
                                                                        <span asp-validation-for="CountryId" class="text-danger"></span>

                                                                    </div>
                                                                </div>

                                                                <div class="form-group">
                                                                    <span class="input-group-label"> State:</span>
                                                                    <div class="input-group mb-3">
                                                                        <div class="input-group-prepend">
                                                                            <span class="input-group-text" for="StateId"><i class="fas fa-map-marker-alt"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                                                                        </div>
                                                                        <select id="StateId" asp-for="StateId" class="form-control" asp-items="ViewBag.StateId" onchange="loadDistrict(this)" required>
                                                                            <option value="">--- SELECT ---</option>
                                                                        </select>

                                                                        <span asp-validation-for="StateId" class="text-danger"></span>
                                                                    </div>
                                                                </div>

                                                                <div class="form-group">
                                                                    <span class="input-group-label"> District:</span>
                                                                    <div class="input-group mb-3">
                                                                        <div class="input-group-prepend">
                                                                            <span class="input-group-text" for="DistrictId"><i class="fas fa-city"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                                                                        </div>
                                                                        <select id="DistrictId" asp-for="DistrictId" class="form-control" asp-items="ViewBag.DistrictId" onchange="loadPinCode(this)" required>
                                                                            <option value="">--- SELECT ---</option>
                                                                        </select>

                                                                        <span asp-validation-for="DistrictId" class="text-danger"></span>
                                                                    </div>
                                                                </div>

                                                                <div class="form-group">
                                                                    <span class="input-group-label"> Pincode:</span>
                                                                    <div class="input-group mb-3">
                                                                        <div class="input-group-prepend">
                                                                            <span class="input-group-text" for="PinCodeId"><i class="fas fa-map-pin"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                                                                        </div>
                                                                        <select id="PinCodeId" asp-for="PinCodeId" class="form-control" asp-items="ViewBag.PinCodeId" required>
                                                                            <option value="">--- SELECT ---</option>
                                                                        </select>
                                                                        <span asp-validation-for="PinCodeId" class="text-danger"></span>

                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <span class="input-group-label"> Address:</span>
                                                                    <div class="input-group mb-3">
                                                                        <div class="input-group-prepend">
                                                                            <span class="input-group-text" id="Addressline"><i class="fa fa-home"></i> <i class="fa fa-asterisk asterik-style"></i></span>
                                                                        </div>
                                                                        <input required type="text" asp-for="Addressline" class="form-control" placeholder="Address" maxlength="20" />
                                                                        <span asp-validation-for="Addressline" class="text-danger"></span>
                                                                    </div>
                                                                </div>
                                                                
                                                            </div>
                                                        </div>
                                                        <div class="card-footer">
                                                            <div class="text-right">
                                                                <a asp-controller="ClaimsInvestigation" asp-action="Details" asp-route-id="@Model.ClaimsInvestigation.ClaimsInvestigationId" class="btn btn-secondary">
                                                                    <i class="fa fa-window-close"></i>
                                                                    @Applicationsettings.CANCEL
                                                                </a>
                                                                <button type="submit" class="btn btn-warning">
                                                                    <i class="fas fa-user-tie"></i> Edit Beneficiary
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $("#BeneficiaryName").focus();
        BeneficiaryDateOfBirthId.max = new Date().toISOString().split("T")[0];

        $.validator.setDefaults({
            submitHandler: function (form) {
                $.confirm({
                    title: "Confirm Beneficary Edit",
                    content: "Are you sure?",
                    icon: 'fas fa-user-tie',
                    columnClass: 'medium',
                    type: 'orange',
                    closeIcon: true,
                    buttons: {
                        confirm: {
                            text: "Edit",
                            btnClass: 'btn-warning',
                            action: function () {
                                form.submit();
                            }
                        },
                        cancel: {
                            text: "Cancel",
                            btnClass: 'btn-default'
                        }
                    }
                });
            }
        });
        $(document).ready(function () {
            $("#create-form").validate();
        });
    </script>
}
