@{
    ViewData["Title"] = @Applicationsettings.DETAILS;
}
<section class="content pt-2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-secondary">
                    <div class="card-header">
                        <h3 class="card-title"><i class="fas fas fa-list-ol"></i> Manage @Applicationsettings.SERVICE</h3>
                    </div>
                    <div class="card-body">
                        <table id="customerTable" class="table table-bordered table-hover dt-responsive nowrap w-100">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>CaseType</th>
                                    <th>ServiceType</th>
                                    <th>Rate</th>
                                    <th>District</th>
                                    <th>State</th>
                                    <th>Country</th>
                                    <th>Pincodes</th>
                                    <th>UpdatedBy</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts    {
    <script>
        $(document).ready(function () {
            $("#customerTable").DataTable({
                ajax: {
                    url: '/api/Agency/AllServices',
                    dataSrc: ''
                },
                fixedHeader: true,
                processing: true,
                paging: true,
                language: {
                    loadingRecords: '&nbsp;',
                    processing: '<i class="fas fa-sync fa-spin fa-4x fa-fw"></i><span class="sr-only">Loading...</span>'
                },
                columns: [
                    /* Name of the keys from
                    data file source */
                    {
                        "data": "id", "name": "Id", "bVisible": false
                    },
                    { "data": "caseType" },
                    { "data": "serviceType" },
                    { "data": "rate" },
                    { "data": "district" },
                    { "data": "state" },
                    { "data": "country" },
                    { "data": "pincodes" },
                    { "data": "updatedBy" },
                    {
                        "sDefaultContent": "",
                        "bSortable": false,
                        "mRender": function (data, type, row) {
                            var buttons = "";
                            buttons += '<a href="/Agency/ServiceDetail?id=' + row.id + '" class="btn btn-xs btn-info"><i class="fa fa-search"></i> Details</a>&nbsp;'
                            buttons += '<a href="/Agency/EditService?id=' + row.id + '" class="btn btn-xs btn-warning"><i class="fas fa-pen"></i> Edit</a>&nbsp;'
                            buttons += '<a href="/Agency/DeleteService?id=' + row.id + '"  class="btn btn-xs btn-danger"><i class="fas fa-trash"></i> Delete</a>'
                            return buttons;
                        }
                    }
                ],
                error: function (xhr, status, error) { alert('err ' + error) }
            });
        });
    </script>
}