@{
    ViewData["Title"] = @Applicationsettings.VENDOR;
}

<section class="content pt-2">
    <div class="container-fluid">
        <div class="card card-secondary">
            <div class="card-header">
                <h3 class="card-title"><i class="fa fa-binoculars"></i> All Agencies</h3>
            </div>

            <div class="card-body">
                <table id="customerTable" class="table table-bordered table-hover dt-responsive nowrap w-100">
                    <thead>
                        <tr>
                            <th>
                                Id
                            </th>
                            <th>
                                Document
                            </th>
                            <th>
                                Domain
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                Code
                            </th>
                            <th>
                                Phone
                            </th>
                            
                            <th>
                                Address
                            </th>
                            <th>
                                District
                            </th>
                            <th>
                                State
                            </th>
                            <th>
                                Country
                            </th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</section>
@section Scripts    {
    <script>
        $(document).ready(function () {
            $("#customerTable").DataTable({
                ajax: {
                    url: '/api/Agency/AllAgencies',
                    dataSrc: ''
                },
                fixedHeader: true,
                processing: true,
                paging: true,
                language: {
                    loadingRecords: '&nbsp;',
                    processing: '<i class="fas fa-sync fa-spin fa-4x fa-fw"></i><span class="sr-only">Loading...</span>'
                },
                columns: [
                    /* Name of the keys from
                    data file source */
                    {
                        "data": "id", "name": "Id", "bVisible": false
                    },
                    {
                        "sDefaultContent": "",
                        "bSortable": false,
                        "mRender": function (data, type, row) {
                            var img = '<img src="' + row.document + '" src height="30" width="30" />';
                            return img;
                        }
                    },
                    { "data": "domain" },
                    { "data": "name" },
                    { "data": "code" },
                    { "data": "phone" },
                    { "data": "address" },
                    { "data": "district" },
                    { "data": "state" },
                    { "data": "country" },
                    {
                        "sDefaultContent": "",
                        "bSortable": false,
                        "mRender": function (data, type, row) {
                            var buttons = "";
                            buttons += '<a href="/Vendors/Details?Id=' + row.id + '" class="btn btn-xs btn-info"><i class="fa fa-search"></i> Details</a>&nbsp;'
                            buttons += '<a href="/Vendors/Edit?Id=' + row.id + '"  class="btn btn-xs btn-warning"><i class="fas fa-pen"></i> Edit</a>&nbsp;'
                            //buttons += '<a href="Vendors/Delete?Id=' + row.id + '"  class="btn btn-xs btn-danger"><i class="fas fa-trash"></i></i> Delete</a>'
                            return buttons;
                        }
                    }
                ],
                error: function (xhr, status, error) { alert('err ' + error) }
            });
        });
    </script>
}