<footer class="main-footer text-sm">
    <div class="float-right d-none d-sm-block">
        <a href="https://hostedscan.com"><img src="https://hostedscan.com/hostedscan-badge-dark.svg" alt="HostedScan | An automated vulnerability scanner" height="30px" width="auto" /></a>
    </div>
    <strong>Copyright &copy;  @DateTime.Now.Year </strong> 
    <span class="badge badge-default"><i class="fas fa-bug"></i> <a style="color:black;text-decoration:none;" href="https://i-taskify.co.in"><i><b>i</b></i> Taskify</a></span>
    <b>Version</b> 1.0.0
</footer>