@{
    ViewData["Title"] = @Applicationsettings.SERVICE;
}

<section class="content pt-2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-secondary">
                    <div class="card-header">
                        <h3 class="card-title"><i class="fas fa-hand-pointer"></i> Available Agencies</h3>
                    </div>
                    <div class="card-body">
                        <form id="checkboxes" asp-action="AvailableVendors" method="post" asp-route-id="@ViewBag.CompanyId" enctype="multipart/form-data">
                            <input type="hidden" id="@ViewBag.CompanyId" />
                            <table id="customerTable" class="table table-bordered table-hover dt-responsive nowrap w-100">
                                <thead>
                                    <tr>
                                        <th><input type="checkbox" name="select_all" id="checkall" value="0" /></th>
                                        <th>
                                            Id
                                        </th>
                                        <th>
                                            Document
                                        </th>
                                        <th>
                                            Domain
                                        </th>
                                        <th>
                                            Name
                                        </th>
                                        <th>
                                            Code
                                        </th>
                                        <th>
                                            Phone
                                        </th>

                                        <th>
                                            Address
                                        </th>
                                        <th>
                                            District
                                        </th>
                                        <th>
                                            State
                                        </th>
                                        <th>
                                            Country
                                        </th>
                                    </tr>
                                </thead>
                            </table>
                                <div class="row">
                                    <div class="col-md-12">

                                        <button id="manage-vendors" type="submit" class="btn btn-success">
                                        <i class="fas fa-handshake"></i> Empanel Agency(s)
                                        </button>
                                    </div>
                                </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts    {
    <script>
        $(document).ready(function () {
            var table = $("#customerTable").DataTable({
                ajax: {
                    url: '/api/Company/GetAvailableVendors',
                    dataSrc: ''
                },
                columnDefs: [{
                    'targets': 0,
                    'searchable': false,
                    'orderable': false,
                    'className': 'dt-body-center',
                    'render': function (data, type, full, meta) {
                        return '<input type="checkbox" name="id[]" value="' + $('<div/>').text(data).html() + '">';
                    }
                }],
                order: [[1, 'asc']],
                fixedHeader: true,
                processing: true,
                paging: true,
                language: {
                    loadingRecords: '&nbsp;',
                    processing: '<i class="fas fa-sync fa-spin fa-4x fa-fw"></i><span class="sr-only">Loading...</span>'
                },
                columns: [
                    /* Name of the keys from
                    data file source */
                    {
                        "sDefaultContent": "",
                        "bSortable": false,
                        "mRender": function (data, type, row) {
                            var img = '<input class="vendors" name="vendors" type="checkbox" id="' + row.id + '"  value="' + row.id + '"  />';
                            return img;
                        }
                    },
                    {
                        "data": "id", "name": "Id", "bVisible": false
                    },
                    {
                        "sDefaultContent": "",
                        "bSortable": false,
                        "mRender": function (data, type, row) {
                            var img = '<img src="' + row.document + '" src height="30" width="30" />';
                            return img;
                        }
                    },
                    { "data": "domain" },
                    { "data": "name" },
                    { "data": "code" },
                    { "data": "phone" },
                    { "data": "address" },
                    { "data": "district" },
                    { "data": "state" },
                    { "data": "country" }
                ],
                error: function (xhr, status, error) { alert('err ' + error) }
            });
            // Handle click on "Select all" control
            $('#checkall').on('click', function () {
                // Get all rows with search applied
                var rows = table.rows({ 'search': 'applied' }).nodes();
                // Check/uncheck checkboxes for all rows in the table
                $('input[type="checkbox"]', rows).prop('checked', this.checked);
            });
            $('input.vendors').on('click', function () {
                var checkboxes = $("input[type='checkbox'].vendors");
                var anyChecked = checkIfAnyChecked(checkboxes);
                var allChecked = checkIfAllChecked(checkboxes);
                $('#checkall').prop('checked', allChecked);
                $('#manage-vendors').prop('disabled', !anyChecked)
            });

            // Handle click on checkbox to set state of "Select all" control
            $('#customerTable tbody').on('change', 'input[type="checkbox"]', function () {
                // If checkbox is not checked
                if (!this.checked) {
                    var el = $('#checkall').get(0);
                    // If "Select all" control is checked and has 'indeterminate' property
                    if (el && el.checked && ('indeterminate' in el)) {
                        // Set visual state of "Select all" control
                        // as 'indeterminate'
                        el.indeterminate = true;
                    }
                }
            });

            // Handle form submission event
            $('#checkboxes').on('submit', function (e) {
                var form = this;

                // Iterate over all checkboxes in the table
                table.$('input[type="checkbox"]').each(function () {
                    // If checkbox doesn't exist in DOM
                    if (!$.contains(document, this)) {
                        // If checkbox is checked
                        if (this.checked) {
                            // Create a hidden element
                            $(form).append(
                                $('<input>')
                                    .attr('type', 'hidden')
                                    .attr('name', this.name)
                                    .val(this.value)
                            );
                        }
                    }
                });

                var checkboxes = $("input[type='checkbox'].vendors");
                var anyChecked = checkIfAnyChecked(checkboxes);

                if (!anyChecked) {
                    e.preventDefault();
                    $.alert({
                        title: "Agency Empanelment !!!",
                        content: "Please select agency to empanel?",
                        icon: 'fas fa-exclamation-triangle',
                        columnClass: 'medium',
                        type: 'green',
                        closeIcon: true,
                        buttons: {
                            cancel: {
                                text: "SELECT",
                                btnClass: 'btn-success'
                            }
                        }
                    });
                }
            });
        });
    </script>
    }